<html>
    <body>

        <h3>Summary</h3>
        <br />

        <table>
            <thead>
                <tr>
                    <th>Income Sum</th>
                    <th>Expense Sum</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ income_sum }}</td>
                    <td>{{ expense_sum }}</td>
                    <td>{{ balance }}</td>
                </tr>
            </tbody>
        </table>

    </body>
</html>
